h1 {
  text-align: center;
}

div,
table {
  width: 90%;
  height: auto;
  background-color: white;
  margin: 30px auto;
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

#bookList {
  margin-bottom: 100px;
}

#bookList tr {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#bookList tr:nth-child(odd) {
  background-color: turquoise;
}

td,
label {
  font-weight: 600;
  font-size: 20px;
  margin: 0 20px;
}

button {
  background-color: red;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px 16px;
  color: white;
  cursor: pointer;
}

input[type=text] {
  display: block;
  width: 80%;
  height: 20px;
  background-color: transparent;
  margin: 10px auto;
  border: none;
  border: 1px solid rgb(105, 94, 94);
  outline: none;
  padding: 8px 12px;
  color: black;
  text-align: left;
}

input[type=text]:focus {
  background-color: gray;
  color: white;
}

h1::before {
  content: '*** ';
}

h1::after {
  content: ' ***';
}

#addButton {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  text-align: left;
  width: 50%;
  padding-left: 20px;
}

.title a {
 text-decoration: none;
 color: green;
 font-weight: 600;
 font-size: 1.5rem;
}

nav {
  width: 50%;
}

nav ul {
 list-style-type: none;
 display: flex;
 justify-content: flex-end;
 padding-right: 20px;
}

nav ul li a {
  text-decoration: none;
  padding-right: 20px;
  color: green;
  font-weight: 600;
  font-size: 1.5rem;
}

footer {
 background-color: green;
 padding: 20px 0;
 margin-top: 77px;
}

footer p{
  text-align: center;
  color: white;
  font-size: 1.3rem;
}
section.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  height: 60vh;
}
.contact-part{
  line-height: 20px;
}